version: "3.9"

services:
  sentiment-api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: sentiment-api
    ports:
      - "8000:8000"
    restart: unless-stopped
    environment:
      - ENV=demo
    networks:
      - hackathon-net

networks:
  hackathon-net:
    driver: bridge
